<% var _in = arguments[0];

_in.config._byDataLocation = {};
if (_in.mode !== 'CHATS') {
    if (_in.mode === 'CREATE_CHAT') {
        _in.config._byDataLocation.chatAuto = _in.config.byDataLocation.chatAuto;
        _in.config._byDataLocation.chatManual = _in.config.byDataLocation.chatManual;
    }
    if (_in.mode === 'JOIN_CHAT') {
        _in.config._byDataLocation.chat_id_input = _in.config.byDataLocation.chat_id_input;
        _in.config._byDataLocation.chat_message_input = _in.config.byDataLocation.chat_message_input;
        _in.config._byDataLocation.chat_id_btn = _in.config.byDataLocation.chat_id_btn;
        _in.config._byDataLocation.remote_offer_label = _in.config.byDataLocation.remote_offer_label;
        _in.config._byDataLocation.remote_offer = _in.config.byDataLocation.remote_offer;
        _in.config._byDataLocation.remote_offer_btn = _in.config.byDataLocation.remote_offer_btn;
    }

if (_in.config && _in.config._byDataLocation) {
        for (var locationKey in _in.config._byDataLocation) { %>

<%= _in.location_wrapper_template({
    config: _in.config._byDataLocation[locationKey],
    data: _in.data ? _in.data : {},
    icon_config: _in.icon_config,
    triple_element_template: _in.triple_element_template,
    button_template: _in.button_template,
    input_template: _in.input_template,
    label_template: _in.label_template,
    options: _in.options,
    textarea_template: _in.textarea_template
})%>
<% }
}

} else {
    if (_in.mode === 'CHATS') {
        _in.config._byDataLocation.chats = _in.config.byDataLocation.chats;
    }%>

    <% if (_in.data && _in.data.data) {
            _in.data.data.forEach(function (chat) { %>
    <% var result = _in.data.openChatsInfoArray.indexOf(chat.chat_id);%>
    <div data-action="show_more_info" data-role="chatWrapper"
         data-chat_id="<%= chat.chat_id %>">
        <% if (_in.config._byDataLocation.chats) { %>
            <%_in.config._byDataLocation.chats.configs.forEach(function (config) { %>
            <%  var element = _in.triple_element_template({
                config: config,
                icon_config: _in.icon_config,
                button_template: _in.button_template,
                input_template: _in.input_template,
                label_template: _in.label_template,
                data: chat
            }) %>

            <% if ((result !== -1) && config.element === "svg") { %>
            <% var div = document.createElement('div');
                div.innerHTML = element;
                var pointer = div.querySelector('[data-role="pointer"]');
                if (pointer) {
                    pointer.classList.add("rotate-90");
                }
            %>
            <%= div.innerHTML %>
            <% } else { %>
            <%= element %>
            <% } %>
            <% }) %>

       <% }%>

        <% if (result !== -1) { %>
        <div data-role="detail_view_container" style="max-height: 15em;" class="max-height-auto max-height-0"
             data-state="expanded">
            <%= _in.data.detail_view_template({
                config: config,
                data: chat,
                icon_config: _in.icon_config,
                triple_element_template: _in.triple_element_template,
                location_wrapper_template: _in.location_wrapper_template,
                button_template: _in.button_template,
                input_template: _in.input_template,
                label_template: _in.label_template,
                options: _in.data
            }) %>

        </div>
        <% } else { %>
        <div data-role="detail_view_container" style="max-height: 0;" class="max-height-0"></div>
        <% } %>

    </div>
    <% })
    }
}%>









