<% var mainButtonLeftPanel = _in.config.filter( function(obj){ return obj.data.role === "mainButtonLeftPanel" } ) %>
<% var mainButtonRightPanel = _in.config.filter( function(obj){ return obj.data.role === "mainButtonRightPanel" } ) %>
<% var registerNewUser = _in.config.filter( function(obj){ return obj.data.role === "registerNewUser" } ) %>
<% var labelUserName = _in.config.filter( function(obj){ return obj.data.role === "labelUserName" } ) %>
<% var labelUserPassword = _in.config.filter( function(obj){ return obj.data.role === "labelUserPassword" } ) %>
<% var loginButton = _in.config.filter( function(obj){ return obj.data.role === "loginButton" } ) %>

<section data-role="left_panel_outer_container" class="p-fx panel left-panel animate hide c-100">
    <div class="p-rel h-100p flex-dir-col">
        <%= _in.triple_element_template({
            config: mainButtonLeftPanel[0],
            button_template: _in.button_template,
            label_template: _in.label_template
        }) %>
        <div data-role="left_panel_inner_container" class="min-width-350 flex-item-1-auto clear flex-dir-col h-100p">
            <header data-role="left_panel_toolbar" class="w-100p flex-dir-col flex-item-auto c-200"></header>
            <div data-role="left_extra_toolbar_container" class="flex-sp-around flex-item-auto c-200"></div>
            <div data-role="left_filter_container" class="flex wrap flex-item-auto c-200"></div>
            <div data-role="panel_body" class="overflow-a flex-item-1-auto"></div>
            <footer class="flex-item-auto">
                <div data-role="left_go_to_container" class="c-200"></div>
                <div data-role="left_pagination_container" class="flex filter_container justContent c-200"></div>
            </footer>
        </div>
    </div>
</section>

<section data-role="right_panel_outer_container" class="p-fx panel right-panel animate hide c-100">
    <div class="p-rel h-100p flex-dir-col">
        <%= _in.triple_element_template({
            config: mainButtonRightPanel[0],
            button_template: _in.button_template,
            label_template: _in.label_template
        }) %>
        <div data-role="right_panel_inner_container" class="min-width-350 flex-item-1-auto clear flex-dir-col h-100p">
            <header data-role="right_panel_toolbar" class="w-100p flex-dir-col c-200"></header>
            <div data-role="right_extra_toolbar_container" class="flex-sp-around flex-item-auto c-200"></div>
            <div data-role="right_filter_container" class="flex wrap flex-item-auto c-200"></div>
            <div data-role="panel_body" class=" overflow-a flex-item-1-auto"></div>
            <footer class="flex-item-auto">
                <div data-role="right_go_to_container" class="c-200"></div>
                <div data-role="right_pagination_container" class="flex filter_container justContent c-200"></div>
            </footer>
        </div>
    </div>
</section>

<div data-role="main_container" class="w-100p h-100p p-abs"></div>

<div data-role="login_outer_container" class="flex-outer-container p-fx login-outer-container hidden">
    <form class="flex-inner-container form-small" data-role="loginForm" >
        <div class="w-100p p-t-b flex-sp-around">
            <%= _in.triple_element_template({
                config: registerNewUser[0],
                icon_config: _in.icon_config,
                button_template: _in.button_template,
                label_template: _in.label_template
            }) %>
        </div>
        <div class="w-100p p-t-b flex-sp-between">
            <%= _in.triple_element_template({
                config: labelUserName[0],
                button_template: _in.button_template,
                label_template: _in.label_template
            }) %>
            <input class="flex-item-w50p" type="text" name="userName">
        </div>
        <div class="w-100p p-t-b flex-sp-between">
            <%= _in.triple_element_template({
                config: labelUserPassword[0],
                button_template: _in.button_template,
                label_template: _in.label_template
            }) %>
            <input class="flex-item-w50p" type="password" name="userPassword">
        </div>
        <div class="w-100p p-t-b flex-sp-around">
            <%= _in.triple_element_template({
                config: loginButton[0],
                icon_config: _in.icon_config,
                button_template: _in.button_template,
                label_template: _in.label_template
            }) %>
        </div>
    </form>
</div>
<div data-role="popap_outer_container" class="flex-outer-container p-fx popap hidden-popap">
    <div data-role="popap_inner_container" class="c-50 border-radius-05em min-width-350"></div>
</div>
<div data-role="description" class="description opacity-0"></div>
<div data-role="chat_resize_container" class="clear chat-resize-container">
    <div class="line" data-role="resize_line"></div>
</div>
