<% var array = arguments[0]; %>

<%console.log(array);%>
<% var array_show = array.config.filter( function(obj){ return obj.mode === "USER_INFO_SHOW" } ) %>
<% var array_editing = array.config.filter( function(obj){ return obj.mode === "USER_INFO_EDIT" } ) %>

<% var byDataLocationShow = {}; %>
<% array_show.forEach(function(_config) { %>
<%  if (!byDataLocationShow[_config.data.location]) { %>
<%  byDataLocationShow[_config.data.location] = []; %>
<% }%>
<%  byDataLocationShow[_config.data.location].push(_config); %>
<% }); %>


<% var byDataLocationReading = {};%>
<% array_editing.forEach(function(_config) { %>
<% if (!byDataLocationReading[_config.data.location]) { %>
<% byDataLocationReading[_config.data.location] = []; %>
<% } %>
<% byDataLocationReading[_config.data.location].push(_config); %>
<% }); %>


<% if(array.mode === 'USER_INFO_SHOW') { %>
<% if (byDataLocationShow['user_id'].length) { %>
<div class="w-100p p-t-b flex-sp-between">
    <% byDataLocationShow['user_id'].forEach(function (_config) { %>
    <%= array.triple_element_template({
    config: _config,
    data: array.data,
    button_template: array.button_template,
    input_template: array.input_template,
    label_template: array.label_template
    }) %>
    <% }) %>
</div>
<%} %>

<% if (byDataLocationShow['user_name'].length) { %>
<div class="w-100p p-t-b flex-sp-between">
    <% byDataLocationShow['user_name'].forEach(function (_config) { %>
    <%= array.triple_element_template({
    config: _config,
    data: array.data,
    button_template: array.button_template,
    input_template: array.input_template,
    label_template: array.label_template
    }) %>
    <% }) %>
</div>
<%} %>

<% if (byDataLocationShow['navbar'].length) { %>
<div class="w-100p p-t-b flex-sp-around">
    <% byDataLocationShow['navbar'].forEach(function (_config) { %>
    <%= array.triple_element_template({
    config: _config,
    data: array.data,
    button_template: array.button_template,
    input_template: array.input_template,
    label_template: array.label_template
    }) %>
    <% }) %>
</div>
<%} %>


<% } else if (array.mode === 'USER_INFO_EDIT') { %>
<% if (byDataLocationReading['user_name'].length) { %>
<div class="w-100p p-t-b flex-sp-between">
    <% byDataLocationReading['user_name'].forEach(function (_config) { %>
    <%= array.triple_element_template({
    config: _config,
    data: array.data,
    button_template: array.button_template,
    input_template: array.input_template,
    label_template: array.label_template
    }) %>
    <% }) %>
</div>
<%} %>

<% if (byDataLocationReading['old_password'].length) { %>
<div class="w-100p p-t-b flex-sp-between">
    <% byDataLocationReading['old_password'].forEach(function (_config) { %>
    <%= array.triple_element_template({
    config: _config,
    data: array.data,
    button_template: array.button_template,
    input_template: array.input_template,
    label_template: array.label_template
    }) %>
    <% }) %>
</div>
<%} %>

<% if (byDataLocationReading['new_password'].length) { %>
<div class="w-100p p-t-b flex-sp-between">
    <% byDataLocationReading['new_password'].forEach(function (_config) { %>
    <%= array.triple_element_template({
    config: _config,
    data: array.data,
    button_template: array.button_template,
    input_template: array.input_template,
    label_template: array.label_template
    }) %>
    <% }) %>
</div>
<%} %>

<% if (byDataLocationReading['confirm_password'].length) { %>
<div class="w-100p p-t-b flex-sp-between">
    <% byDataLocationReading['confirm_password'].forEach(function (_config) { %>
    <%= array.triple_element_template({
    config: _config,
    data: array.data,
    button_template: array.button_template,
    input_template: array.input_template,
    label_template: array.label_template
    }) %>
    <% }) %>
</div>
<%} %>


<% if (byDataLocationReading['navbar'].length) { %>
<div class="w-100p p-t-b flex-sp-around">
    <% byDataLocationReading['navbar'].forEach(function (_config) { %>
    <%= array.triple_element_template({
    config: _config,
    icon_config: array.icon_config,
    data: array.data,
    button_template: array.button_template,
    input_template: array.input_template,
    label_template: array.label_template
    }) %>
    <% }) %>
</div>
<%} %>

<% }%>



