<% var _in = arguments[0], classList = _in.config.class ? _in.config.class : '';%>

<button class="<%= classList %>"
<% if(_in.config.data) {
    for (var dataKey in _in.config.data) {
        if (_in.config.data[dataKey] !== "" && dataKey !== "description") { %>
                <%= 'data-' + dataKey + '=\"' + _in.config.data[dataKey] + '\"' %>
        <% }
         if (dataKey === "description" && typeof _in.config.data[dataKey] === 'number') { %>
        <%= 'data-' + dataKey + '=\"' + window.getLocText(_in.config.data[dataKey]) + '\"' %>
         <%}
    }
} %>
<% if (_in.config.disable === true){ %> disabled <%}%>

<% if (_in.config.data && _in.config.data.key_disable && _in.data[_in.config.data.key_disable]) { %>
disabled ="<%= _in.data[_in.config.data.key_disabled]%>"
<% var flag = true;%>
<% } %>

        <% var display;
        if (_in.calcDisplay) {
            display = _in.calcDisplay(_in.config);
        }
        if (display !== undefined && display !== true) {%>
            style="display: none;"
       <% }%>

    <% if(_in.config.type){ %> type="<%= _in.config.type%>" <%}%>
    <% if(_in.config.data && _in.config.data.key){ %> data-value="<%= _in.data[_in.config.data.key]%>" <%}%>
><% if (_in.config.icon) {
    if (_in.icon_config) {
        var icon;
        _in.icon_config.every(function(_icon) {
            if (_icon.name === _in.config.icon) {
                icon = _icon;
            }
            return !icon;
        } );
        if (icon) {
            if (flag)  { %>
                  <div class="opacity-05 cursor-not-allowed">   <%= icon.svg %></div>
           <% } else { %>
            <%= icon.svg %>
    <%}%>
        <% }
    }
} %>
    <%if (_in.config.text) {%>
    <%= typeof _in.config.text === "number" ? window.getLocText(_in.config.text) : _in.config.text %>
    <%} else {%>
        <%= ''%>
    <% }%>
<% if (_in.config.data && _in.config.data.key) { %>
<%= _in.data[_in.config.data.key] %>
<%} %>

    <%if (_in.config.data && _in.config.data.description && _in.icon_config) {
       var icon_description;
    _in.icon_config.every(function(_icon) {
        if (_icon.name === "description_icon") {
            icon_description = _icon;
        }
        return !icon_description;
    } );%>
    <%= icon_description.svg  %>
    <%}%>

</button>