<% var _in = arguments[0]; %>
<input type="<%= _in.config.type%>"
<% if(_in.config.class){ %> class="<%= _in.config.class%>" <%}%>
        <% if(_in.config.data) {
            for (var dataKey in _in.config.data) {
                if (_in.config.data[dataKey] !== "") { %>
                    <%= 'data-' + dataKey + '=\"' + _in.config.data[dataKey] + '\"' %>
                <% }
            }
        } %>


<% if(_in.config.id){ %> id="<%= _in.config.id%>" <%}%>
<% if(_in.config.disabled === true){ %> disabled <%}%>
<% if(_in.config.onkeypress){ %> onkeypress="<%= _in.config.onkeypress %>" <%}%>

<% if (_in.config.type === "checkbox" || _in.config.type === "radio") { %>
    <% if (_in.config.data.key) { %>
      <% if(_in.data[_in.config.data.key]) { %>
      checked
      <%} %>
    <% } %>
<% } %>



<% if(_in.config.data && _in.config.data.key === "page") { %>
value= "<%= _in.data[_in.config.data.key] %>"
<%} %>

        <% if(_in.config.name) {
            if (_in.config.type === "radio" && _in.index !== undefined) { %>
            name= "<%= _in.config.name + '_' +_in.index %>"
        <% } else { %>
       name= "<%= _in.config.name %>"
        <%} } %>


<% if (_in.config.type === "text") { %>
<% if(_in.config.data.key) { %> value= "<%= _in.data[_in.config.data.key] %>" <%} %>
<% } %>
 >
<%if (_in.config.text) {%>
<span><%= typeof _in.config.text === "number" ? window.getLocText(_in.config.text) : _in.config.text %></span>
<%} else {%>
<%= ''%>
<% }%>
</input>
