<% var _in = arguments[0]; %>
<label
<% if (_in.config.class) { %> class="<%= _in.config.class %>" <% } %>
<% if (_in.config.name) { %> name="<%= _in.config.name%>" <% } %>
<% if (_in.config.for) { %> for="<%= _in.config.for%>" <%}%>
    <% if(_in.config.data) {
         for (var configDataKey in _in.config.data) {
            if (_in.config.data[configDataKey] !== "") { %>
             <%= 'data-' + configDataKey + '=\"' + _in.config.data[configDataKey] + '\"' %>
             <%
            }
         }
    } %>
<% if (_in.config.data && _in.config.data.key) { %>
data-<%= _in.config.data.key %> = "<%= _in.data[_in.config.data.key] %>"
<% } %>
        ><%if (_in.config.text) {%>
    <%= typeof _in.config.text === "number" ? window.getLocText(_in.config.text) : _in.config.text %>
    <%} else {%>
    <%= ''%>
    <% }%>

    <% if (_in.description && typeof _in.description === 'number' ) { %>
    <%= window.getLocText(_in.description)%>
    <% } else {%>
    <%= _in.description %>
    <%}%>
<% if(_in.config.data && _in.config.data.key) { %>
<%= _in.data[_in.config.data.key] %><%} %></label>
